<!DOCTYPE html>
<html>
<head>
    <!--Title-->
    <title>@ViewBag.Title</title>
    <link href="~/css/main.css" rel="stylesheet" />

</head>
<body>
    <header>
        <h1>@ViewBag.Title</h1>
        <menu>
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="Home" asp-action="CalcGrade">Grade Calculator</a></li>
            </ul>
        </menu>
    </header>
    @RenderBody()
    <footer>Thanks for visiting.</footer>
    <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/js/grade.js"></script>
   

</body>
</html>