@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Nicole Barker";

}

<!DOCTYPE html>
<html>
<head>
    <!--Title-->
    <title>@ViewBag.Title</title>
    <link href="~/css/main.css" rel="stylesheet" />

</head>
<body>
    <br />
    <br />
    <!--picture of me doing something I enjoy-->
    <img src="~/img/nicole_ukulele.jpg" />
    <!--paragraph on what I hope to get out of 413-->
    <br />
    <br />
    <p>
        In this class, I would like to learn how to not hate development and get over my coding
        PTSD from last semester. I would love to love coding, and I have some hope for this class.
    </p>
    <br />
    <br />

    <!--list of top 3 jobs I'm most interested in-->
    <p>The jobs that I am most interested in after I graduate include:</p>
    <ul id="jobs">
        <li>Project Management</li>
        <li>IT Auditing</li>
        <li>Beach bum</li>
    </ul>

    

    <!--icon for the website-->

</body>
</html>